@import "https://fonts.googleapis.com/css?family=Inconsolata";
html {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  background-color: #000000;
  background-image: radial-gradient(#2c2c2c, #000000),
    url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inconsolata", Helvetica, sans-serif;
  font-size: 1.5rem;
  /*color: rgba(173, 173, 173, 0.8);*/
  text-shadow:
          0 0 1ex #bbbbbb,
          0 0 2px rgba(255, 255, 255, 0.8);
}

.bg-static{

}

#figlet{
  color: rgba(173, 173, 173, 0.8);
}

.bg-text{
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.02;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: auto 4px;
  z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(transparent),
    color-stop(2%, rgba(114, 114, 114, 0.2)),
    color-stop(3%, rgba(121, 121, 121, 0.8)),
    color-stop(3%, rgba(141, 141, 141, 0.2)),
    to(transparent)
  );
  background-image: linear-gradient(
    0deg,
    transparent 0%,
    rgba(71, 71, 71, 0.2) 2%,
    rgba(122, 122, 122, 0.8) 3%,
    rgba(53, 53, 53, 0.2) 3%,
    transparent 100%
  );
  background-repeat: no-repeat;
  -webkit-animation: scan 7.5s linear 0s infinite;
  animation: scan 7.5s linear 0s infinite;
}

@-webkit-keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}

@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}
.terminal {
  box-sizing: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 700px;
  padding: 2rem;
  background-image: radial-gradient(#2c2c2c, #000000),
  url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  text-transform: uppercase;
}

.output {
  color: rgba(204, 204, 204, 0.8);
  text-shadow:
    0 0 1px rgba(212, 212, 212, 0.4),
    0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
  content: "> ";
}

.input {
  color: rgba(255, 255, 255, 0.8);
  text-shadow:
    0 0 1px rgba(189, 189, 189, 0.4),
    0 0 2px rgba(255, 255, 255, 0.8);
}

.input::before {
  content: "$ ";
}

a {
  color: #fff;
  text-decoration: none;
}

a::before {
  content: "[";
}

a::after {
  content: "]";
}

.errorcode {
  color: white;
}

@media screen and (max-width: 6500px) {
  .bg-text{
    font-size: 4rem;
  }
}

@media screen and (max-width: 6000px) {
  .bg-text{
    font-size: 3rem;
  }
}

@media screen and (max-width: 4000px) {
  .bg-text{
    font-size: 2rem;
  }
}

@media screen and (max-width: 3000px) {
  .bg-text{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1536px) {
  .bg-text{
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .bg-text{
    font-size: 0.5rem;
  }
}


